
.app-header, .app-footer {
    min-height: 10vh;
    color: white;
    background-color: black;
}

.main-content {
    min-height: 80vh;
    padding-top: 10px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: 500px) {
    .main-content {
        justify-content: space-around;
    }
}